body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 15px;
   width: 500px;
   background-color: #add7ff;
   padding: 10px;
   padding-bottom: 30px;
   max-height: 600px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 1.0em;
   line-height: 1;
}

h1 {
   font-family: serif;
}

table {
   background-color: whitesmoke;
   width: 85%;
   padding: 10px;
   margin: 8px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

caption {
   margin-bottom: 3px;
}

.etiquette {
   text-align: left;
   color: #333;
}

input[type=submit] {
   border: none;
   border-radius: 5px;
   padding: 8px 13px;
   background-color: #7abeff;
   color: white;
   width: 100%;
   margin-top: 20px;
   font-size: 1em;
   box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
}

input[type=submit]:hover {
   cursor: pointer;
   background-color: #add7ff;
   color: black;
}

a {
   text-decoration: none;
   color: black
}
