#test{
  border: medium solid #000000;
  border-collapse: separate;
  width:100%;
  font-size: 50px;
  font-family: monospace;
}
th,tr{
  border: thin solid #8182BB;
  width: 55%;
  padding: 20px;
}

#titre_principale{
  color: #FF8C00;
  width: 90%;
  text-align: center;
  line-height:1px;
}

#barre_recherche{
  padding: 70px;
  margin: 100px;
  border-radius: 100px;
  border: solid black;
}

#trie{
  padding: 30px;
  margin: 30px;
}

#pour-tri{
  padding: 30px;
  margin: 30px;
}


body{
    background-image:url(fond1.png);
    background-size: 100%;
}
